/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: verdana, arial, san-serif; }

.clear {
  clear: both; }

/* NAVIGATION =========================================== */
nav {
  background-color: #243949;
  padding: 15px; }
  nav ul {
    text-align: center; }
  nav ul li {
    display: inline-block;
    margin-right: 10px; }
  nav ul li a {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 30px;
    padding: 2px 18px;
    text-decoration: none;
    transition: all .3s; }
    nav ul li a:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  nav ul li a.selected {
    background: #FF7043;
    color: #FFFFFF; }

/* CARDS =========================================== */
.cards-wrapper {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px; }
  .cards-wrapper .card {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    display: block;
    margin: 18px;
    padding: 15px;
    transition: all .4s;
    width: 230px; }
    .cards-wrapper .card:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
      cursor: pointer; }
    .cards-wrapper .card img {
      display: block;
      line-height: 150px;
      text-align: center;
      width: 100%; }
  .cards-wrapper .card ul {
    padding-top: 5px; }
    .cards-wrapper .card ul li {
      color: rgba(38, 50, 56, 0.4);
      display: inline;
      font-size: 11px;
      margin-right: 5px; }
      .cards-wrapper .card ul li span {
        font-weight: bold;
        padding-right: 4px; }
      .cards-wrapper .card ul li i {
        padding-right: 3px; }
  .cards-wrapper p {
    color: #607D8B;
    font-size: 20px;
    text-align: center; }

/* VIEWER =========================================== */
.viewer {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }
  .viewer .viewer-bg {
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    position: fixed;
    top: 0; }

.viewer-image-content-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 0 10px 10px 0;
  margin: 30px auto;
  position: absolute;
  width: 900px;
  z-index: 10; }
  .viewer-image-content-container .viewer-close-button {
    color: rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 40px;
    margin: 10px 12px;
    transition: all .3s; }
    .viewer-image-content-container .viewer-close-button:hover {
      color: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  .viewer-image-content-container img {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
    margin: 30px;
    padding: 20px; }

/*# sourceMappingURL=style.css.map */
