body {
    font-family: verdana, arial, san-serif;
}
.clear {
    clear: both;
}


/* NAVIGATION =========================================== */
nav {
  background-color: #243949;
  // background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  padding: 15px;

  ul {
    text-align: center;
  }

  ul li {
    display: inline-block;
    margin-right: 10px;
  }

  ul li a {
    background-color: rgba(#FFF, .15);
    color: rgba(#FFF,.8);
    border-radius: 3px;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 30px;
    padding: 2px 18px;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      background-color: rgba(#fff, .2);
    }
  }

  ul li a.selected {
    background: #FF7043;
    color: #FFFFFF;
  }
}


/* CARDS =========================================== */

.cards-wrapper {
  // background: rgba(#263238, .05);
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;

  .card {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0,0,0,.12);
    display: block;
    margin: 15px;
    padding: 15px;
    transition: all .4s;
    width: 235px;

    &:hover {
      box-shadow: 0 0 8px rgba(0,0,0,.12);
      box-shadow: 0 8px 16px rgba(0,0,0,.24);
    }

    img {
      display: block;
      line-height: 150px;
      text-align: center;
      width: 100%;
    }
  }

  .card ul {
    padding-top: 5px;

    li {
      color: rgba(#263238, .4);
      display: inline;
      font-size: 11px;
      margin-right: 5px;

      span {
        font-weight: bold;
        padding-right: 4px;
      }

      i {
        padding-right: 3px;
      }
    }
  }

  p {
    color: #607D8B;
    font-size: 20px;
    text-align: center;
  }
}