.viewer {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .viewer-bg {
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    position: fixed;
    top: 0;
  }
}

.viewer-content-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 0 10px 10px 0;
  margin: 30px auto;
  position: absolute;
  width: 1040px;
  z-index: 10;

  .viewer-close-button {
    color: rgba(0,0,0,.1);
    font-size: 40px;
    margin: 10px 12px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s;

    &:hover {
      color: rgba(0,0,0,.2);
      cursor: pointer;
    }
  }

  .viewer-image-container {
    float: left;
    padding: 60px;
    width: 500px;

    img {
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(0,0,0,.12);
      box-shadow: 0 4px 12px rgba(0,0,0,.24);
      padding: 20px;
      width: 460px;
    }

    .tags {
      font-family: $font-primary;
      margin-top: 20px;

      li {
        color: rgba(0,0,0,.3);
        font-size: 13px;
      }
    }
  }

  .viewer-image-des-container {
    float: left;
    height: 345px;
    margin: 80px 30px 30px 0;
    position: relative;
    width: 330px;

    h2 {
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }

    .image-author {
      color: rgba(0,0,0,.3);
      font-family: $font-primary;
      font-size: 15px;
      padding-bottom: 20px;

      a {
        color: $pink-400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .image-description {
      font-family: $font-primary;
      max-height: 110px;
      overflow: hidden;
      margin-bottom: 40px;
      text-overflow: ellipsis;

      p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;
      }
    }

    ul {
      bottom: 0;
      position: absolute;
      width: 100%;

      li {
        background-color: rgba(0,0,0,.04);
        // background-image: linear-gradient(120deg, rgba(0,0,0,.05) 00%, rgba(0,0,0,0) 80%);
        border-radius: 3px;
        color: rgba(0,0,0,.4);
        font-family: $font-primary;
        font-size: 14px;
        margin-top: 2px;
        // padding: 12px 0 12px 12px;

        i {
          background-color: rgba(0,0,0,.05);
          border-radius: 3px 0 0 3px;
          color: rgba(0,0,0,.3);
          font-size: 18px;
          height: 20px;
          margin-right: 20px;
          padding: 10px;
          text-align: center;
          width: 30px;
        }

        span {
          padding-right: 10px;
        }
      }
    }
  }
}