/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: verdana, arial, san-serif; }

.clear {
  clear: both; }

/* NAVIGATION =========================================== */
nav {
  background-color: #243949;
  padding: 15px; }
  nav ul {
    text-align: center; }
  nav ul li {
    display: inline-block;
    margin-right: 10px; }
  nav ul li a {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 2px 18px;
    text-decoration: none;
    transition: all .3s; }
    nav ul li a:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  nav ul li a.selected {
    background: #EC407A;
    color: #FFFFFF; }

/* CARDS =========================================== */
.cards-wrapper {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px; }
  .cards-wrapper .card {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    display: block;
    margin: 18px;
    padding: 15px;
    transition: all .4s;
    width: 230px; }
    .cards-wrapper .card:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
      cursor: pointer; }
    .cards-wrapper .card img {
      display: block;
      line-height: 150px;
      text-align: center;
      width: 100%; }
  .cards-wrapper .card ul {
    padding-top: 5px; }
    .cards-wrapper .card ul li {
      color: rgba(38, 50, 56, 0.4);
      display: inline;
      font-family: "Montserrat", sans-serif;
      font-size: 11px;
      margin-right: 5px; }
      .cards-wrapper .card ul li span {
        font-weight: bold;
        padding-right: 4px; }
      .cards-wrapper .card ul li i {
        padding-right: 3px; }
  .cards-wrapper p {
    color: #607D8B;
    font-size: 20px;
    text-align: center; }

.viewer {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }
  .viewer .viewer-bg {
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    position: fixed;
    top: 0; }

.viewer-content-container {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 0 10px 10px 0;
  margin: 30px auto;
  position: absolute;
  width: 1040px;
  z-index: 10; }
  .viewer-content-container .viewer-close-button {
    color: rgba(0, 0, 0, 0.1);
    font-size: 40px;
    margin: 10px 12px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s; }
    .viewer-content-container .viewer-close-button:hover {
      color: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
  .viewer-content-container .viewer-image-container {
    float: left;
    padding: 60px;
    width: 500px; }
    .viewer-content-container .viewer-image-container img {
      background-color: white;
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
      padding: 20px;
      width: 460px; }
    .viewer-content-container .viewer-image-container .tags {
      font-family: "Montserrat", sans-serif;
      margin-top: 20px; }
      .viewer-content-container .viewer-image-container .tags li {
        color: rgba(0, 0, 0, 0.3);
        font-size: 13px; }
  .viewer-content-container .viewer-image-des-container {
    float: left;
    height: 345px;
    margin: 80px 30px 30px 0;
    position: relative;
    width: 330px; }
    .viewer-content-container .viewer-image-des-container h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px; }
    .viewer-content-container .viewer-image-des-container .image-author {
      color: rgba(0, 0, 0, 0.3);
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      padding-bottom: 20px; }
      .viewer-content-container .viewer-image-des-container .image-author a {
        color: #EC407A;
        text-decoration: none; }
        .viewer-content-container .viewer-image-des-container .image-author a:hover {
          text-decoration: underline; }
    .viewer-content-container .viewer-image-des-container .image-description {
      font-family: "Montserrat", sans-serif;
      max-height: 110px;
      overflow: hidden;
      margin-bottom: 40px;
      text-overflow: ellipsis; }
      .viewer-content-container .viewer-image-des-container .image-description p {
        font-size: 15px;
        font-weight: 300;
        line-height: 22px; }
    .viewer-content-container .viewer-image-des-container ul {
      bottom: 0;
      position: absolute;
      width: 100%; }
      .viewer-content-container .viewer-image-des-container ul li {
        background-color: rgba(0, 0, 0, 0.04);
        border-radius: 3px;
        color: rgba(0, 0, 0, 0.4);
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        margin-top: 2px; }
        .viewer-content-container .viewer-image-des-container ul li i {
          background-color: rgba(0, 0, 0, 0.05);
          border-radius: 3px 0 0 3px;
          color: rgba(0, 0, 0, 0.3);
          font-size: 18px;
          height: 20px;
          margin-right: 20px;
          padding: 10px;
          text-align: center;
          width: 30px; }
        .viewer-content-container .viewer-image-des-container ul li span {
          padding-right: 10px; }
